<div class="row">
  <div class="col-sm-7">
    <h2>Lost And Found Homepage</h2>
    <p><em>Now everything is on us!</em></p>
  </div>
  <div class="col-sm-5">
      <h3>Welcome to Lost and Found! This application will let you keep a record your belonging, and retrieve your items if someone found your lost your item one day.</h3>
  </div>
</div>


<!--<!h2>Homepage</h2>
-->

<div class="row">
  <div class="col-sm-7"></div>
  <div class="col-sm-5">
    <h4><em>Please find below the instruction:</em></h4>
    <h4><em>1) Register/Login</em></p>
    <h4><em>2) Scan your item.</em></p>
    <h4><em>3) If found, go get your item.</em></p>
  </div>
</div>
