<h2>Item Return Method Processed</h2>

<p>Thank you for your selection to return the item</p>

{{#if pickup}}
  <p>A designated representative will come to your address later today. Please make sure you are home or that you have left the package in an available location. Thank you!</p>
{{/if}}

{{#if dropoff}}
  <p>Please drop off or mail the item to our designated address. Thank you!</p>
  <h3>Address</h3>
  <p>60 Washington Square S, New York, NY 10012</p>
{{/if}}
